/***** html elements *****/

*,
::before,
::after {
	box-sizing: border-box;
}

html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	padding: 0;
}

body.frozen {
	overflow: hidden;
	height: 100%;
}

/***** shared classes *****/

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.hide {
	display: none;
}

.w-container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

ul.clean,
ol.clean {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.fixed {
	position: fixed;
}

.h-center {
	margin: 0 auto;
}

.h-center-content {
	text-align: center;
}

.v-center {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.v-center-content {
	vertical-align: middle;
}

.a-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.full-height {
	height: 100%;
}

.full-width {
	width: 100%;
}

img.full-height {
	height: 100% !important;
	width: auto !important;
}

img.full-width {
	width: 100% !important;
	height: auto !important;
}

.flexbox-row-fill {
	height: 0 !important;
	min-height: 0 !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.inline-table {
	display: inline-table;
}

/***** content *****/

.content-columns {
	display: flex;
	justify-content: space-between;
}

.content-column.main {
	flex: 1 1 auto;
}

.content-column.side {
	flex: 0 0 230px;
}

body.no-sidebar .content-column.side {
	display: none;
}

/***** preloaders *****/

body.preloading .page-wrapper {
	opacity: 0;
}

body.preloading .preloader {
	display: block;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: #ccc;
  transition: opacity 0.3s;
  z-index: 1;
  display: none;
}

.preloader .bar {
	width: 1%;
	height: 100%;
	background: #ed5e4e;
	transition: all .2s;
}

.busy-indicator,
.busy::before {
	height: 32px;
  width: 32px;
  margin: 0 auto;
  -webkit-animation: spin .6s infinite linear;
  -moz-animation: spin .6s infinite linear;
  -o-animation: spin .6s infinite linear;
  animation: spin .6s infinite linear;
  border: 5px solid rgba(255, 255, 255, 0.15);
  border-top-color: rgba(255, 255, 255, 0.8);
  border-radius: 100%;
}

.busy {
	position: relative;
}

.busy::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -16px 0 0 -16px;
}

.busy-indicator.small,
.busy.small::before {
	height: 24px;
  width: 24px;
  border-width: 4px;
}

.busy-indicator.large,
.busy.large::before {
	height: 48px;
  width: 48px;
  border-width: 6px;
}

.busy.small::before {
	margin: -12px 0 0 -12px;
}

.busy.large::before {
	margin: -24px 0 0 -24px;
}

.busy-indicator.dark,
.busy.dark::before {
	border-color: rgba(0, 0, 0, 0.15);
  border-top-color: rgba(0, 0, 0, 0.8);
}

.spinner {
	animation: spin 1s linear infinite;
}

/***** animations *****/

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-o-keyframes spin {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
  	transform: rotate(0deg);
  }
  to {
  	transform: rotate(360deg);
 	}
}

/***** responsive visibility *****/

*[class^="show-"],
*[class*=" show-"] {
    display: none !important;
}

/***** only large screens *****/

@media (min-width: 1200px) {

	/***** responsive visibility *****/

	.show-large-block,
	.show-desktop-block {
		display: block !important;
	}

	.show-large-inline-block,
	.show-desktop-inline-block {
		display: inline-block !important;
	}

	.show-large-inline,
	.show-desktop-inline {
		display: inline !important;
	}

}

/***** medium screens and below *****/

@media (max-width: 1199px) {



}

/***** only medium screens *****/

@media (max-width: 1199px) and (min-width: 992px) {

	/***** responsive visibility *****/

	.show-medium-block,
	.show-desktop-block {
		display: block !important;
	}

	.show-medium-inline-block,
	.show-desktop-inline-block {
		display: inline-block !important;
	}

	.show-medium-inline,
	.show-desktop-inline {
		display: inline !important;
	}

}

/***** tablets and below *****/

@media (max-width: 991px) {

	.w-container {
		width: auto;
	}

}

/***** only tablets *****/

@media (max-width: 991px) and (min-width: 768px) {

	/***** responsive visibility *****/

	.show-tablet-block,
	.show-mobile-block {
		display: block !important;
	}

	.show-tablet-inline-block,
	.show-mobile-inline-block {
		display: inline-block !important;
	}

	.show-tablet-inline,
	.show-mobile-inline {
		display: inline !important;
	}

}

/***** phones *****/

@media (max-width: 767px) {

	/***** responsive visibility *****/

	.show-phone-block,
	.show-mobile-block {
		display: block !important;
	}

	.show-phone-inline-block,
	.show-mobile-inline-block {
		display: inline-block !important;
	}

	.show-phone-inline,
	.show-mobile-inline {
		display: inline !important;
	}

}